{% extends "layout.html" %}

<!-- BEGIN head BLOCK -->
{% block head %}
    <title>Index Page</title>
{% endblock %}
<!-- BEGIN head BLOCK -->

<!-- Replace the "placeholder" called body in the parent template with the following -->
<!-- BEGIN BODY BLOCK -->
{% block content %}

<!-- Add text that will be static for the INDEX page-->
<h1>Welcome to the Smart Neighborhood Exchange</h1>


    <!-- A TABLE VERSION INSTEAD OF A ORDERED LIST VERSION -->
    <!-- REDUNDENT BUT I WANTE TO SHOW HOW TO FORMAT THE RESULTS DIFFERENTLY -->
    <H2><u>Table List of Recent Listings</u></H2>
    <TABLE style="border-collapse: collapse;">
        <TR style="background-color: #D6EEEE;">
            <TH style="padding: 5px; border: solid 1px #777;">Project Title</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Description</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Visual</TD>
       </TH>
       <!-- EXAMPLES OF THE JINJA LANGUAGE FOR LOOPS-->
        {% for m in message %}
            <TR>
                <TD style="padding: 5px; border: solid 1px #777;">{{m.Title}}</TD>
                <TD style="padding: 5px; border: solid 1px #777;">{{m.Details}}</TD>
                <TD style="padding: 5px; border: solid 1px #777;">
                    <img src="{{ url_for('static', filename=m.Image) }}" alt="{{ m.Title }}" width="100" />
                </TD>
            </TR>
        {% endfor %}


    </TABLE>

<!-- END BODY BLOCK -->
{% endblock %}